.container {
  margin-top: 30px;
}

button {
  margin-top: 20px;
}

.btnClear {
  display: flex;
  justify-content: end;
}

.noMessage {
  display: flex;
  justify-content: center;
  color: rgb(206, 34, 18);
}
