.container {
  display: flex;
  justify-content: start;
  padding: 10px 0 0 20px;
  background-color: red !important;
}

.content {
  color: white !important;
}

.actions {
  display: flex;
  justify-content: end;
  margin-top: 90px;
}
