.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  max-height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 1em;
  justify-content: center;
}
